version: '3.8'

services:
  db:
    image: postgres:15-alpine
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: acg_forum_db
    #ports:
      #- "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  minio:
    image: minio/minio
    restart: always
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    ports:
      #- "9000:9000"
      - "9001:9001"
    volumes:
      - minio_data:/data

  redis:
    image: redis:alpine
    restart: always
    #ports:
      #- "6379:6379"

  backend:
    build: ./backend    
    restart: always
    depends_on:
      - db
      - redis
      - minio
    env_file:
      - ./backend/.env
    environment:
      DATABASE_URL: postgresql+asyncpg://user:password@db:5432/acg_forum_db
    #ports:
      #- "8000:8000"

  frontend:
    build: ./frontend
    restart: always
    depends_on:
      - backend
    ports:
      - "80:80"

volumes:
  postgres_data:
  minio_data: